@use "colors" as *;
@use "typography" as *;
@use "sizes" as *;

$active-theme: $light;
$enable-media-query-dark-mode: false;

// Contextual
$color-text-default: $color-neutral-400;
$color-background-default: $color-neutral-100;
$color-text-interactive-default: $color-neutral-400;
$color-text-interactive-hover: $color-neutral-900;

// set to 0 to disable
$letter-spacing-1: 2px;
$letter-spacing-2: 2.5px;
$letter-spacing-3: 3px;

// body
$body-font-family: $font-family-base;
$body-font-size: $font-size-400;
$body-line-height: 2;
$body-font-weight: $font-weight-bold;
$body-text-color: $color-text-default;
$body-background-color: $color-background-default;

$link-color: $color-text-interactive-default;
$link-color-hover: $color-text-interactive-hover;

$heading-font-family: $font-family-base;
$heading-color-default: $color-neutral-900;
$heading-font-weight: $font-weight-bold;
$heading-letter-spacing: 0;
$heading-line-height: 1.25;
$heading-text-transform: none;

$heading-1-font-size: $font-size-800;
$heading-1-color: $heading-color-default;
$heading-2-font-size: $font-size-700;
$heading-2-color: $heading-color-default;
$heading-3-font-size: $font-size-600;
$heading-3-color: $heading-color-default;

// layout
$grid-gap: $size-6;
$flex-group-gap: $size-4;

$container-min-margin-inline: $size-6;
$container-min-margin-inline-tablet: $size-10;
$container-max-width: 85rem;
// $container-max-width-narrow: 40rem;
// $container-max-width-wide: 75rem;

// site header
$site-header-padding-small-screen: $size-6;
$site-header-padding-large-screen: $size-8;

// buttons
$button-font-family: $body-font-family;
$button-font-weight: $font-weight-bold;
$button-text-transform: uppercase;
$button-border: 0;
