@use "../abstracts/" as *;

.container {
  --padding: #{$container-min-margin-inline} * 2;
  --max-width: #{$container-max-width};

  width: min(100% - var(--padding), var(--max-width));
  margin-inline: auto;

  @include mq(medium) {
    --padding: #{$container-min-margin-inline-tablet} * 2;
  }

  &[data-page="index"] {
    margin-block: $size-6;

    @include mq(medium) {
      margin-block: $size-10;
    }
  }

  &[data-page="details"] {
    margin-block: $size-6 0;

    @include mq(medium) {
      margin-block: $size-10 0;
    }

    @include mq(large) {
      margin-block: 6.5rem 4.5rem;
    }
  }
}
