---
import Layout from "../layouts/BaseLayout.astro";
import Button from "../components/Button.astro";
import MediaButtons from "../components/MediaButtons.astro";
---

<Layout title="Frontend Mentor | Galleria slideshow site">
  <div class="container">
    <div class="card">
      <!-- Thumbnail Image -->

      <img
        class="card__image"
        src="/assets/images/girl-with-pearl-earring/thumbnail.jpg"
        alt=""
      />

      <!-- Link and Subhead -->
      <div class="card__header p-8 pe-12 pt-14 flex flex-col gap-2">
        <a class="card__link text-100 fs-700 leading-tight" href="#"
          >Girl with a Pearl Earring</a
        >
        <p class="text-100/75 fs-300 leading-tight font-normal">
          Vincent Van Gogh
        </p>
      </div>
    </div>
  </div>

  <style lang="scss">
    @use "../styles/abstracts/" as *;

    .card {
      position: relative;
      display: grid;
      grid-template-columns: minmax(0, 1fr);

      & > * {
        grid-column: 1;
        grid-row: 1;
      }

      &__header {
        justify-self: start;
        align-self: end;
        background: linear-gradient(
          to bottom,
          hsla(0, 0%, 0%, 0.01%) 0%,
          hsla(0, 0%, 0%, 84%) 100%
        );
      }

      &__link {
        &::after {
          content: "";
          position: absolute;
          inset: 0;
        }
      }
    }
  </style>
</Layout>
