---
import Layout from "../layouts/BaseLayout.astro";
import GalleryCard from "../components/GalleryCard.astro";

import data from "../data.json";
---

<Layout title="Frontend Mentor | Galleria slideshow site" start={true}>
  <div class="container" data-page="index">
    <div class="gallery-cards">
      {
        data.map((item) => (
          <GalleryCard
            imageThumbnail={item.images.thumbnail}
            link={`details/${item.name.toLocaleLowerCase().replace(/\s+/g, "-")}`}
            linkHeader={item.name}
            artistName={item.artist.name}
          />
        ))
      }
    </div>
  </div>
</Layout>

<style lang="scss">
  @use "../styles/abstracts/" as *;

  .gallery-cards {
    display: grid;
    gap: $size-6;
    grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
    align-items: start;

    @include mq(medium) {
      gap: $size-10;
    }
  }
</style>
