---
const { imageThumbnail, link = "#", linkHeader, artistName } = Astro.props;
---

<div class="gallery-card">
  <!-- Thumbnail Image -->
  <div class="gallery-card__thumbnail">
    <img src={imageThumbnail} alt="" />
  </div>
  <!-- Link and Subhead -->
  <div class="gallery-card__header p-8 pe-12 pt-14 flex flex-col gap-2">
    <a class="gallery-card__link text-100 fs-700 leading-tight" href={link}
      >{linkHeader}</a
    >
    <p class="text-100/75 fs-300 leading-tight font-normal">{artistName}</p>
  </div>
</div>

<style lang="scss">
  @use "../styles/abstracts/" as *;

  .gallery-card {
    position: relative;
    display: grid;
    transform: scale(1);
    transition: transform 300ms ease-in-out;

    @include mq(medium) {
      &:nth-child(1) {
        grid-row: 1 / span 50;
        grid-column: 1;
      }

      &:nth-child(2) {
        grid-row: 1 / span 80;
        grid-column: 2;
      }

      &:nth-child(3) {
        grid-row: 59 / span 57;
        grid-column: 1;
      }

      &:nth-child(4) {
        grid-row: 89 / span 50;
        grid-column: 2;
      }

      &:nth-child(5) {
        grid-row: 124 / span 68;
        grid-column: 1;
      }

      &:nth-child(6) {
        grid-row: 147 / span 56;
        grid-column: 2;
      }

      &:nth-child(7) {
        grid-row: 200 / span 100;
      }

      &:nth-child(8) {
        grid-row: 211 / span 50;
        grid-column: 2;
      }
      &:nth-child(9) {
        grid-row: 308 / span 84;
        grid-column: 1;
      }
      &:nth-child(10) {
        grid-row: 269 / span 52;
        grid-column: 2;
      }
      &:nth-child(11) {
        grid-row: 329 / span 86;
        grid-column: 2;
      }
      &:nth-child(12) {
        grid-row: 400 / span 52;
        grid-column: 1;
      }
      &:nth-child(13) {
        grid-row: 423 / span 66;
        grid-column: 2;
      }
      &:nth-child(14) {
        grid-row: 460 / span 105;
        grid-column: 1;
      }

      &:nth-child(15) {
        grid-row: 497 / span 68;
        grid-column: 2;
      }
    }

    @include mq(xmedium) {
      &:nth-child(1) {
        grid-row: 1 / span 50;
        grid-column: 1;
      }

      &:nth-child(2) {
        grid-row: 1 / span 80;
        grid-column: 2;
      }

      &:nth-child(3) {
        grid-row: 1 / span 57;
        grid-column: 3;
      }

      &:nth-child(4) {
        grid-row: 1 / span 50;
        grid-column: 4;
      }

      &:nth-child(5) {
        grid-row: 59 / span 68;
        grid-column: 1;
      }

      &:nth-child(6) {
        grid-row: 89 / span 56;
        grid-column: 2;
      }

      &:nth-child(7) {
        grid-row: 66 / span 100;
        grid-column: 3;
      }

      &:nth-child(8) {
        grid-row: 59 / span 50;
        grid-column: 4;
      }
      &:nth-child(9) {
        grid-row: 135 / span 84;
        grid-column: 1;
      }
      &:nth-child(10) {
        grid-row: 153 / span 52;
        grid-column: 2;
      }
      &:nth-child(11) {
        grid-row: 117 / span 86;
        grid-column: 4;
      }
      &:nth-child(12) {
        grid-row: 227 / span 52;
        grid-column: 1;
      }
      &:nth-child(13) {
        grid-row: 213 / span 66;
        grid-column: 2;
      }
      &:nth-child(14) {
        grid-row: 174 / span 105;
        grid-column: 3;
      }

      &:nth-child(15) {
        grid-row: 211 / span 68;
        grid-column: 4;
      }
    }

    &:hover .gallery-card__thumbnail::after {
      opacity: 1;
    }

    &:hover {
      transform: scale(1.1);
    }

    & > * {
      grid-column: 1;
      grid-row: 1;
    }

    &__thumbnail {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: hsla(0, 0%, 100%, 50%);
        opacity: 0;
        transition: opacity 270ms ease-in-out;
      }
      & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top top;
      }
    }

    &__header {
      align-self: end;
      background: linear-gradient(
        to bottom,
        hsla(0, 0%, 0%, 0%) 0%,
        hsla(0, 0%, 0%, 84%) 100%
      );
      z-index: 100;
    }

    &__link {
      &::after {
        content: "";
        position: absolute;
        inset: 0;
      }

      &:focus-visible {
        outline: 3px solid red;
        outline-offset: 3px;
      }
    }
  }
</style>
