---
import Button from "./Button.astro";
import data from "../data.json";

const { start } = Astro.props;

const firstItemSlug = data[0]?.name.toLowerCase().replace(/\s+/g, "-");
---

<header class="site-header">
  <div class="site-header__inner">
    <a href="/index.html">
      <img
        class="logo"
        aria-hidden="true"
        src="/assets/shared/logo.svg"
        alt=""
      />
      <p class="visually-hidden">GALLERIA SLIDESHOW SITE</p>
    </a>
    <Button
      href={start ? `/details/${firstItemSlug}` : "/index.html"}
      type="slideshow">{start ? "Start Slideshow" : "Stop Slideshow"}</Button
    >
  </div>
</header>

<style lang="scss">
  @use "../styles/abstracts" as *;

  .site-header {
    --max-width: #{$container-max-width};
    padding: $site-header-padding-small-screen;
    border-bottom: 1px solid $color-neutral-300;
    width: min(100%, var(--max-width));
    margin-inline: auto;

    @include mq(medium) {
      padding: $site-header-padding-large-screen;
    }

    &__inner {
      display: flex;
      gap: $size-4;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  .logo {
    width: 113px;
    height: 32px;
    transform: translateY(-10%);

    @include mq(medium) {
      width: 170px;
      height: 48px;
    }
  }
</style>
