---
import Button from "./Button.astro";
---

<header class="site-header">
  <div class="site-header__inner">
    <a href="/index.html">
      <img
        class="logo"
        aria-hidden="true"
        src="/assets/images/shared/logo.svg"
        alt=""
      />
      <p class="visually-hidden">GALLERIA SLIDESHOW SITE</p>
    </a>

    <Button href="#" type="slideshow">Start Slideshow</Button>
  </div>
</header>

<style lang="scss">
  @use "../styles/abstracts" as *;

  .site-header {
    padding: $site-header-padding-small-screen;
    border-bottom: 1px solid $color-neutral-300;

    @include mq(medium) {
      padding: $site-header-padding-large-screen;
    }

    &__inner {
      display: flex;
      gap: $size-4;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  .logo {
    width: 113px;
    height: 32px;
    transform: translateY(-10%);

    @include mq(medium) {
      width: 170px;
      height: 48px;
    }
  }
</style>
