---
import BaseHead from "../components/BaseHead.astro";
import SiteHeader from "../components/SiteHeader.astro";
const { title, startSlideshow = true } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead {title} />
  <body>
    <SiteHeader {startSlideshow} />
    <main>
      <slot />
    </main>
  </body>
</html>
