@font-face {
  font-family: "Libre Baskerville";
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/LibreBaskerville-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Libre Baskerville";
  font-weight: 700;
  font-display: swap;
  src: url("/assets/fonts/LibreBaskerville-Bold.ttf") format("truetype");
}
